@import "style.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TITULO DEL REGISTER y CAJA CONTENEDORA*/
.form-register {
    justify-content: center;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    color:black;
    box-shadow: 6px 13px 50px #000;
    background: white;
}
/* INPUTS */
.form-register h4 {
   font-size: 35px;
   margin-bottom: 32px;
   font-family: fantasy;
}
.first_name {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 2px solid grey;
    font-size: 18px;
    font-family: fantasy;
    
}
.last_name {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 2px solid grey;
    font-size: 18px;
    font-family: fantasy;
    
}
.email {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 2px solid grey;
    font-size: 18px;
    font-family: fantasy;
    
}
.pass {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 2px solid grey;
    font-size: 18px;
    font-family: fantasy;
    
}

/* PIE DE REGISTER. ESTOY DE ACUERDO */
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    
}
.form-register a {
    color: rgb(15, 1, 1);
    text-decoration: none;
}
.form-register a:hover {
    color: blue;
    text-decoration: underline;
}
/* BOTONERA DE REGISTRARSE */
.form-register .botons {

    border-bottom-color: black;
    border: 45px;
    padding: 15px;
    color: black;
    margin: 16px 0;
    font-size: 19px;
    background-color: lightseagreen;
    border: 0;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    text-transform: uppercase;
    font-family: fantasy;

}
.form-register .botons:hover{
    transform: scale(1.1);
}
/* BACKGROUND */
body {
    
    float: center;
    background-size: cover;
}