/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* AJUSTE GLOBAL */
* {
    margin: 0;
}
/* BACKGROUND */
body {
    position: absolute;
    background-image: url("/images/fondoo.jpg");
    width: 100%;
    max-width: 100%;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* PRODUCTO DESTACADO IZQUIERDO */
.destacado1 {
    position: relative;
    border: 2px solid grey;
    padding: 2px;
    height: 200px;
    box-shadow: gray;
}

/* PRODUCTO DESTACADO DERECHO */
.destacado2 {
    position: relative;
    border: 2px solid grey;
    padding: 2px;
    height: 200px;
}
/* ATRIBUTOS COMPARTIDOS DE CONTENEDORES DESTACADOS */
.container .destacados {
    border: 20px transparent;
}
.destacados figure img{
    float: right;
    border: 2px solid grey;
    width: 190px;
}
.container .comprar button {
    position: absolute;
    left: 5px;
    bottom: 5px;
    border: 2px solid grey;
    font-size: 10px;
    font-family: 'Roboto',sans-serif;
}
.container .añadircarrito button {
    position: absolute;
    left: 75px;
    bottom: 5px;
    border: 2px solid grey;
    font-size: 10px;
    font-family: 'Roboto',sans-serif;
}
.container .nombredestacado {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.container .edition {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* PRODUCTOS */
.producto1,
.producto2,
.producto3,
.producto4 {
    position: relative;
    border: 22px solid transparent;
    padding: 2px;
    top: 20px;
    margin-bottom: 20px;
}
.producto1 img {
    border: 4px solid grey;
    width: 100%;
}
.producto2 img {
    border: 4px solid grey;
    width: 100%;
}
.producto3 img {
    border: 4px solid grey;
    width: 100%;
}
.producto4 img {
    border: 4px solid grey;
    width: 100%;
}
.container div .nombreproducto {
    margin-top: 0px;
    font-family: 'Roboto',sans-serif;
}
.nombreproducto {
    border: 2px solid grey;
    position: relative;
    width: 100%;
    text-decoration: none;
    color: black;
    text-decoration: none;
}
.precioproducto {
    position: absolute;
    right: 4px;
    font-size: 20px;
    border: 2px solid grey;
}
.container .ofertas {
    position: absolute;
    border: 2px solid grey;
}
/* --- VERSION PARA TABLET (768px) --- */

@media(max-width: 768px) {
    .destacado2 {
        display: none;
        width: 100%;
    }
    .nombreproducto {
        font-size: 30px;
    }
}
/* --- VERSION PARA ESCRITORIO (1024px) --- */
@media(max-width: 1024px) {
    .nombreproducto {
        font-size: 20px;
    }
    .destacado2 {
        display: none;
        width: 100%;
    }
}