/* HEADER */
header {
    background-color: rgb(61, 60, 60);
    color: white;
    width: 50%;
    height: 200px;
    position: relative;
    overflow: hidden;
    top: 0px;
}
.container .logo img{
    width: 50px;
}
.container .usuario img{
    width: 50px;
}
.container .buscador img{
    width: 50px;
}
.container .carrito img{
    width: 50px;
    right: 10px;
}