* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-register {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    color: black;
   
    box-shadow: 6px 13px 50px #000;
}
.form-register h4 {
   font-size: 32px;
   margin-bottom: 32px;
}
.controls {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 2px solid black;
   font-size: 18px;
    
}
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    
}
.form-register a {
    color: black;
    text-decoration: none;
}
.form-register a:hover {
    color: blue;
    text-decoration: underline;
}
.form-register .botons {
    width: 100%;
    background: #fffd82;
    border: 2px;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
}
/* BACKGROUND */
body {
    background-image: url("/images/fondo.jpg");
    float: center;
}