
/*GENERAL*/
*{
    box-sizing: border-box;
    margin: auto 0;
    
    
}
/*BODY*/
body{
    background-image: url('/images/fondoo.jpg');
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*CONTENEDOR*/
.container{
    width: 90%;
    
}
.padreCarrito{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rowCarrito{
    width: 100%;
    border: 2px solid grey;
    padding: 30px;
    margin-top: 5px;
    height: 400px;
}

.titulo-carrito h1{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*A*/
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}

/*IMAGEN*/
.imagen{
    display: flex;
    flex-wrap: wrap;
}
.imagen img{
    width: 100%;
    border: 2px solid grey;
    display: flex;
    align-items: center;
}
/*DETALLE*/
.detalleCarrito {
    padding: 5px;
    
}
.nombreprod{
    font-size: 15px;
    font-style: italic;
    
}
.precioprod{
    font-size: 20px;
  
}
.descuentoCarrito{
    color: #39b54a;
    float: right;
    margin-top: 5px;
}
/*BUTTON*/
.buttonCarrito{
    padding: 5px;
    
}
.buttonCarrito .buttonComprar , .buttonCambiar{

    border-radius: 5px;
}
.buttonCarrito .buttonComprar{
  float: right;
}


.comprartodo .buttonComprar{
    border-radius: 5px;
    margin-top: 25px;
    float: right;
    
}
@media(min-width:768px){
    .rowCarrito{
        width: 90%;
        border: 2px solid grey;
        padding: 30px;
        margin-top: 5px;
        height: 250px;
        position: relative;
    }
    .imagen{
        width: 90%;
        float: right;
        justify-content: flex-end;
        padding: 0;
    }
    .imagen img{
       width: 45%;
       
       
       
      
    }
    .detalleCarrito{
       padding: 0;
     
       display: flex;
       flex-direction: column;
       
    }

    .buttonCarrito{
        display: flex;
        justify-content: center;
    }
    .nombreprod{
        font-display: line;
        font-size: 25px;
        font-style: italic;
        order: -1;
    }
    .precioprod{
        font-size: 30px;
        order: 0;
    }
    .descuentoCarrito{
        color: #39b54a;
        order: 1;
    }
    
    
      
}

 
