@import "style.css";
    /* FOOTER */
    footer {
        background-color: rgb(61, 60, 60);
        width: 100%;
        height: 200px;
        position: relative;
        bottom: 0px;
    }
    /* CONTACTO */
    footer .contacto {
        left: 20px;
        top: 80px;
        font-size: 30px;
    }
    footer .contacto .contactanos {
        color: white;
    }
    /* ICONOS */
    footer .iconos {
        top: 20px;
        right: -80px;
        margin: 0px;
    }
    footer .iconos i{
        color: white;
        font-size: 30px;
        margin: 6px;
    }
    
    /* COPYRIGHT */
    footer .copyright {
        left: 200px;
        bottom: -140px;
        margin: 0;
    }
    footer .copyright i {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 23px;
    }
    @media(max-width: 768px) {
        footer .iconos {
            top: 20px ;
            right: -10px ;
        }
        footer .iconos i{
            color: white ;
            font-size: 90px ;
            margin: 20px !important;
            transform: scale(2.0);
        }
        footer .copyright {
            display: none ;
        }
        footer .copyright i {
            display: none ;
        }
        footer .contacto {
            display: none ;
        }
    }
    @media(max-width: 1042px) {
        footer .iconos {
            top: 10px ;
            left: 80px ;
            font-size: 15px;
        }
        footer .iconos i{
            color: white ;
            font-size: 40px ;
            margin: 5px ;
        }
        footer .copyright {
            bottom: -130px ;
            margin: 0 ;
        }
        footer .copyright i {
            color: white ;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 21px ;
            margin: 0 ;
        }
    }