@import "style.css";
/* HEADER */
.header {
    background-color:lightslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
} 

.avatar{
    margin-top: 20px;
}
    
.avatar img{
    border: 2px solid white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.avatar h5{
    color: white;
    font-size: 1.5rem;
}


.logo img{
    width: 70%;
    border-radius: 80px;
    justify-content: center;
    padding: 10px;
}



li {
    list-style: none;
    float: right;
}
.barraheader{
    margin-top: 25px;
    margin-left: 90px;
}

header form{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    justify-content: center;
}

header form input{
    border: solid 1px lightgrey;
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 5px;
    height: 40px;
    font-size: 1.5em;
    font-family: inherit;
  }

header form input:focus,
form button:focus {
    outline: none;
}


header form button{
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: white;
    border: none;
    border-left: solid 1px lightgrey;
    color: grey;
    cursor: pointer;
}

.aheader{
   color: white;
   font-size: 1rem;
}

.aheader:hover{
    color: #55ddff;
   
}

.admin{
    font-size: 1.5rem;
    color: white;
}
.carritodibujo{
    font-size: 1rem;
    color: white;
}


.cargapersona h6{
    font-size: 1.5rem; 
}


.admin:hover{
   color: #55ddff;
   transform: scale(1.3);
}

.personalog{
    margin-left: 20px;
    margin-top: 15px;
}
.personreg{
   margin-top: 15px;
    margin-left:100px;
}

.carritodibujo{
    text-decoration: none;
    color: white;
    margin-right: -5px;
}
.carritodibujo:hover{
    text-decoration: none;
    color: #55ddff;
    transform: scale(1.3);
}
.carritoheader{
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.cargapersona{
    margin-left: 20px;
}




/*TABLETS*/
@media(min-width:768px){
    .barra input{
        width: 60%;
    }
    
}
/*PC*/
@media(min-width:1024px){
   .header{
       justify-content: center;
   }
   
    .logo img{
       
        width: 40%;
        
    }
    .personreg{
        margin-left: 20px;
        
    }
    .reg{
        font-size: 20px;
    }
    .personalog{
        margin-left: 20px;
        margin-top: 10px;
    }
    .personreg{
       margin-top: 10px;
        margin-left:100px;
    }
    
   
    
    
    
}

