@import "style.css";
    /* FOOTER */
    footer {
        background-color: rgb(61, 60, 60);
        width: 100%;
        height: 200px;
        position: relative;
        bottom: 0px;
    }
    /* CONTACTO */
    footer .contacto {
        left: 20px;
        top: 80px;
        font-size: 30px;
    }
    footer .contacto .contactanos {
        color: white;
    }
    /* ICONOS */
    footer .iconos {
        top: 20px;
        right: -80px;
        margin: 0px;
    }
    footer .icono1, .icono2, .icono3, .icono4{
        color: white;
        font-size: 30px;
        margin: 6px;
    }
    
    /* COPYRIGHT */
    footer .copyright {
        left: 200px;
        bottom: -140px;
        margin: 0;
    }
    footer .copyright i {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 23px;
    }
    @media(max-width: 768px) {
        footer .iconos {
            top: 20px !important;
            right: 0px !important;
        }
        footer .icono1, .icono2, .icono3, .icono4{
            display: inline;
            color: white !important;
            font-size: 100px !important;
            margin: 5px !important;
        }
        footer .copyright {
            display: none !important;
        }
        footer .copyright i {
            display: none !important;
        }
        footer .contacto {
            display: none !important;
        }
    }
    @media(max-width: 1042px) {
        footer .iconos {
            top: 10px !important;
            left: 80px !important;
            font-size: 15px;
        }
        footer .icono1, .icono2, .icono3, .icono4{
            color: white !important;
            font-size: 40px !important;
            margin: 5px !important;
        }
        footer .copyright {
            bottom: -130px !important;
            margin: 0 !important;
        }
        footer .copyright i {
            color: white !important;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 21px !important;
            margin: 0 !important;
        }
    }