/* HEADER */
.logo {
    text-align: center;
}

/* VERSION TABLET */

@media(max-width:768px) {
    .logo {
    align-content: center;
    }
}

/* VERSION PC */
@media(min-width:1024px){
    .logo {
        align-content: center;
    }
}