<footer class="piedepagina">

  <a class="contacto" href="">Contactanos</a>
  <div class="row">
    <div class="col-12">
      <a href=""><i class= "fab fa-facebook-square"></i></a>
    </div>

  </div>
  <!-- <ul class="icons">
    <a href=""><i class= "fab fa-facebook-square"></i></a>
    <a href=""><i class= "fab fa-instagram"></i></a>
    <a href=""><i class= "fab fa-twitter"></i></a>
    <a href=""><i class= "fab fa-facebook-square"></i></a>
  </ul> -->
    <!-- <p class="copyright">Copyright © 2020 RMR Boutique.</p>
    <p class="copyright">Todos los derechos reservados.Buenos Aires, Argentina. </p> -->
    
  </footer>