<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/stylehome.css' />
</head>
<footer class="footer">
    &copy; Copyright © 2020 RMR Boutique. Todos los derechos reservados.Buenos Aires, Argentina. Términos y Condiciones., Política de privacidad, Preferencias de las cookies.
  </footer>