<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 col-md-4 col-lg-4 col-sm-4 contacto">
        <a href="https://web.whatsapp.com/"><i class="contactanos">Contactanos</i></a>
        
      </div>
      <div class="col-4 col-md-4 col-lg-4 col-sm-4 copyright">
        <i>Copyright RMR boutique</i>
      </div>
      <div class="col-8 col-md-4 col-lg-4 col-sm-8 iconos">
        <a class="icono1" href="https://www.facebook.com/?stype=lo&jlou=AfdjMvupaHHnPgIEXXlte6djfP9k9l6kp9IE7wicWeOvRZLZF_KZcy4FrednYH5GHm-Di4xVL0JFUGywaASnavF71jsgVGwIhkLu5FlpJ3CCtQ&smuh=23453&lh=Ac9BobqTDGvEuCFr"><i class= "fab fa-facebook-square"></i></a>
        <a class="icono2" href="https://www.instagram.com/?hl=es-la"><i class= "fab fa-instagram"></i></a>
        <a class="icono3" href="https://twitter.com/?lang=es"><i class= "fab fa-twitter"></i></a>
        <a class="icono4" href="https://www.amazon.com/-/es/"><i class="fab fa-amazon"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- scripts de bootstrap -->
<script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
crossorigin="anonymous "
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
crossorigin="anonymous "
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
crossorigin="anonymous "
></script>