<footer class="piedepagina">
<div class="iconos"> 
  <div class="row">
    <div class="col-12">
      <div class="lineadivisora"></div>
      <a class="icono1" href=""><i class= "fab fa-facebook-square"></i></a>
      <a class="icono1" href=""><i class= "fab fa-instagram"></i></a>
      <a class="icono1" href=""><i class= "fab fa-twitter"></i></a>
      <a class="icono1" href=""><i class="fab fa-amazon"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <p class="copyright">Copyright © 2020 RMR Boutique.</p>
      </div>
    </div>
  </div>
</div>
  <!-- <ul class="icons">
    <a href=""><i class= "fab fa-facebook-square"></i></a>
    <a href=""><i class= "fab fa-instagram"></i></a>
    <a href=""><i class= "fab fa-twitter"></i></a>
    <a href=""><i class= "fab fa-facebook-square"></i></a>
  </ul> -->
    <!-- <p class="copyright">Copyright © 2020 RMR Boutique.</p>
    <p class="copyright">Todos los derechos reservados.Buenos Aires, Argentina. </p> -->
    
  </footer>