<header class="container-fluid">
    <!--caja contenedora de boostrap-->
    <div class="container">
      <!--caja que contiene el logotipo, el buscador y botón con un link-->
      <div class="row">
        <!--caja que contiene el logotipo-->
        <div class="logo">
          <!-- <a href="/"><img src="/images/logotipo.jpg " alt=""/></a> -->
        </div>
    </div>
</div>
  </header>