
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img  src="/images/logotipoo.jfif" alt="" width="70px" height="70px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    <ul class="navbar-nav mr-auto">
      <% if (typeof user != "undefined" && user) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="/images/avatar_users/<%= user.avatar %> " alt="avatar" width="20px" height="20px">
             Mi cuenta <i class="fas fa-user-alt "></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/perfil">Tu perfil</a>
            <a class="dropdown-item" href="/users/logout">Cerrar Sesión <i class="fas fa-sign-in-alt "></i></a>
           
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/carrito">Tu carrito <i class="fas fa-cart-plus"></i></a>
      </li>
      
      <li class="nav-item">
        <% if (user.category == "admin") { %>
          <li class="nav-item">
            <a class="nav-link" href="/products/carga">Añadir producto</a>
          </li>
      <% } %>
           
           
          <% } else{%>
            <li class="nav-item">
              <a class="nav-link" href="/users/register">Registrarse <i class="far fa-address-card "></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Inicia Sesión <i class="fas fa-sign-in-alt "></i></a>
            </li>
          <% } %>
      </li>
    </ul>
  
  </div>
  <form action="/products/search" method="get" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</nav>

