<header class="cabecera">
  <nav>
    <div>
      <i class="far fa-search"></i>
    </div>
    <!-- <ul class="header">
      <li class="menu">menu</li>
      <li class="logo">logo</li>
      <li class="linkuser">usuario</li>
      <li class="buscador">buscador</li>
      <li class="carrito">carrito</li>
    </ul> -->
  </nav>
</header>