<header>
  <div class="container-fluid header">
    <div class="row">
    <div class="col-4 col-md-2 col-lg-2 logo">
      <a href="/"><img  src="/images/logotipo2.png" alt=""></a>
  
  </div>
   <div class="container">
      <div class="row">

       
      <div class="col-4 col-md-6 col-lg-6 justify-content-end barraheader">
        <!--BUSCADOR-->
        <form action="/products/search" method="get" class="search-form">
          <input type="text" name="search" placeholder="Buscar" class="search-form_input">
          <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
      </form>
      </div>

      <div class="col-4 col-md-4 col-lg-4 d-flex justify-content-end align-items-center avatar">
       
       
        <% if (typeof user != "undefined" && user) { %>
          <div class="carritoheader">
                  
            <li><a href="/carrito"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cart3 carritodibujo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0  0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </li>
          
        
        </div> 
          <a href="/users/perfil"><h5 class="mr-2"><%= user.nick%> </h5></a>
            <a href="/users/perfil"><img src="/images/avatar_users/<%= user.avatar %> " alt="avatar" width="50px" height="50px"></a>
            <% if (user.category == "admin") { %>
              <div class="cargapersona">
                <li>
               <span class="spanhe"><a href="/products/carga" class="aheader">Añadir producto</a></span>
             </li>
               
               </div> 
          <% } %>
       
            
        <% } else{%>
          <div class="personreg">
                 
            <li> 
              
           <span class="registerspan"><a href="/users/register" class="aheader reg"> Registrate</a></span>
           </li>
         </div>
              <div class="personalog">
               
                   <li> 
                    
                  <span class="iniciarspan"><a href="/users/login" class="aheader reg">Ingresar</a></span>
                  </li>
                </div>
           
          
       
        <% } %>
      </div>
      </div>
      
     
    </div>
</div>
</div>
</header>

