<header>
  <div class="container-fluid header">
    <div class="container headercon">
      <div class="row headerhe">
      
        
          <% if (typeof user == "undefined") { %>
            <div class="col-2 col-md-2 col-l-2 col-lg-2 personreg">
                 
              <li> 
                <a href="/users/register"><svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill registerheader" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
               </svg>
               </a>
             <span class="registerspan"><a href="/users/register" class="aheader"> Registrate</a></span>
             </li>
           </div>


                <div class="col-2 col-md-2 col-l-2 col-lg-2 personalog">
                 
                     <li> 
                       <a href="/users/login"><svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-fill loginheader" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                       <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/> 
                        </svg>
                      </a>
                    <span class="iniciarspan"><a href="/users/login" class="aheader">Ingresar</a></span>
                    </li>
                  </div>
             
             
                
             
          <% } else { %>
              
              
                <div class="col-2 col-md-2 col-l-2 col-lg-2 carritoheader">
                  
                  <li><a href="/carrito"><svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-cart3 carritodibujo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0  0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg></a>
                  <span class="spanhe"><a href="/carrito" class="aheader">Carrito</a></span>
                </li>
                
              
              </div> 
             
             
                <div class="col-2 col-md-2 col-l-2 col-lg-2 cargapersona">
                  <li><a href="/products/carga"> <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-upload admin" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                   <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                 </svg></a>
                 <span class="spanhe"><a href="/products/carga" class="aheader">+ <h6>Producto</h6></a></span>
               </li>
                 
                 </div> 
             
          <% } %>
      
      <div class="col-2 col-md-2 col-l-2 col-lg-2 logo">
        <a href="/"><img  src="/images/logotipo2.png" alt=""></a>
    
    </div>

    <div class="col-2 col-md-2 col-l-2 col-lg-2 barraheader">
      <!--BUSCADOR-->
      <form action="/products/search" method="GET">
        <input type="search" name="search" placeholder="  Buscar" aria-label="Search">
        <button class="boton-barra" type="submit"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg></button>
      </form>
    </div>
    
   
    
  <div class="col-2 col-md-2 col-l-2 col-lg-2 d-block justify-content-end  align-items-center avatar">
    <a href=""><h5 class="mr-2"><%= (locals.user)?locals.user.nick:"Invitado" %> </h5></a>
    <% if (locals.user) { %>
     
        <a href="/users"><img src="/images/avatar_users/<%= locals.user.avatar %> " alt="avatar" width="50px" height="50px"></a>
        
    <% } else{%>
    <a href="/users/login"><img src="/images/avatar_users/guest.png" alt="" width="50px" height="50px"></a>
   
    <% } %>
 
  </div>
  
</div>
</div>
</div>
</header>
 