<header class="cabecera">
  <nav>
    <div class="fluid-container">
      <div class="row">
        <div class="col-12 md-6 lg-2">
          <a class="menu" href=""><i class="fas fa-bars"></i></a>
          <a href=""><img class="logo" src="/images/logotipo.jpg" alt=""></a>
          <a href=""><i class="fas fa-user"></i></a>
          <form action="/" method="POST">
          <input type="text" class="buscador">
          <a href=""><button class="fas fa-search" method= "POST"></button></a>
        </form>
        <a href=""><i class="fas fa-shopping-cart carrito"></i></a>
        </div>
      </div>
    </div>
  </nav>
</header>