<header class="cabecera">
  <div class="container">
    <div class="row">
      <div class="col-3 logo">
        <a href=""><img src="/images/logotipo2.png" alt=""></a>
      </div>
      <div class="col-2 usuario">
        <a href=""><img src="/images/logotipo2.png" alt=""></a>
      </div>
      <div class="col-4 buscador">
        <a href=""><img src="/images/logotipo2.png" alt=""></a>
      </div>
      <div class="col-2 carrito">
        <a href=""><img src="/images/logotipo2.png" alt=""></a>
      </div>
      </div>
    </div>
  </div>
</header>