<!DOCTYPE html>
<html lang="es">


  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    

   
  <form action="/products/carga" method="POST" enctype="multipart/form-data"
  
  >
  <div class = "row">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="form-carga">
      <h4>Carga de producto</h4>

      <input class="controls" type="text" name="name" id="" placeholder="Nombre del Producto">

      <input class="controls" type="text" name="talle" id="" placeholder="Talle">

      <br>
      
      <input class="controls" type="text" name="price" id="" placeholder="Precio del Producto">

      <br>
      

      <input class="controls" type="text" name="discount" id="" placeholder="Descuento %">

      <label for="">Categoria:</label>
      <select name="category" id="">
       <option disabled>Seleccionar</option>
       <option value="prenda hombre">Hombre</option>
       <option value="prenda mujer">Mujer</option>
       <option value="prenda de ni単o">Ni単o</option>
       <option value="prenda de ni単a">Ni単a</option>
      </select>

      <br><br>

      

      <input class="controls" type="file" name="image">

      <br><br>

      <label>Agregar Descripcion:</label>
      <br>
      <textarea placeholder="" name="description" id="" cols="39" rows="5"></textarea>
      
      <input class="botons" type="submit" value="Agregar">
      <input class="botons" type="submit" value="Cancelar">
      
    </section>

  </div>
</div>
</form>
<%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
</body>
</html>