<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    
  
   
    <div class="container">
      <section class="principal-carrito">
        <div class="col-12 titulo-carrito">
          <h4>Tu carrito</h4>
         </div>
         <div class="row carrito">
          <div class="col-12 col-md-12 col-lg-12">
          <div class="contenido-carrito">
          <figure class="imagen">
            <img src="/images/ropa/faldamujer2.jpg" alt="">
          </figure>
          
            <div class="detalleCarrito">
              
                <div class="nombreprod">
                  <h2>Pollera Ivana</h2>
                </div>
                <div class="descuentoCarrito">
                  10% OFF
                </div>
                <div class="precioprod">
                    <strike>$1999</strike>
                </div>
                <div class="preciofinal">
                  $199
                </div>
                
          
            <div class="buttonCarrito">
               <button class="buttonCambiar"><a href="">Cambiar producto</a></button>
               <button class="buttonComprar"><a href="">Comprar</a></button>
            </div>
          </div>
          </div> 
        </div>
      </div>
        <div class="row carrito">
          <div class="col-12 col-md-12 col-lg-12">
           <div class="contenido-carrito">
          <figure class="imagen">
            <img src="/images/ropa/jeansmujer.jpg" alt="">
          </figure>
          <div class="detalleCarrito">
            
            <div class="nombreprod">
              <h2>Jeans Flor</h2>
            </div>
              <div class="descuentoCarrito">
                15% OFF
              </div>
              <div class="precioprod">
                  <strike>$2199</strike>
              </div>
              <div class="preciofinal">
                $329
              </div>
         
          <div class="buttonCarrito">
             <button class="buttonCambiar"><a href="">Cambiar producto</a></button>
             <button class="buttonComprar"><a href="">Comprar</a></button>
          </div>
        </div>
        </div> 
      </div>
        </div>
      <div class="row carrito">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="contenido-carrito">
        <figure class="imagen">
          <img src="/images/ropa/jeanshombre.jpg" alt="">
        </figure>
        <div class="detalleCarrito">
          

          <div class="nombreprod">
            <h2>Jeans Ciro</h2>
          </div>
            <div class="descuentoCarrito">
              25% OFF
            </div>  
            <div class="precioprod">
                <strike>$3299</strike>
            </div>
            <div class="preciofinal">
              $824
            </div>
        
        <div class="buttonCarrito">
           <button class="buttonCambiar"><a href="">Cambiar producto</a></button>
           <button class="buttonComprar"><a href="">Comprar</a></button>
        </div>
      </div>
      </div> 
    </div>
  </div>
     
      
    </section>
    </div>
  
  

  <%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
</body>
</html>