<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    
      <div class="container">
        <section class="principal-detalle">
          <div class="row detalle">

            <div class="contenido-detalle">
              <div class="contenido text-left">
                <div class="row deta">
                    <div class="col-12 col-lg-7">
                      <figure class="imgdetalle">
                        <img src="/images/ropa/camperaniñas.jpg" alt=""><a href=""></a>
                    </figure>
                    <p class="descrip">Campera rosa 100% Algodón</p>
                    </div>
                    <div class="col-12 col-lg-5 datos">
                        <h3 class="nombredeta">
                           Campera Ámbar 
                        </h3>
                         <strike>$1999</strike><span>10% OFF</span>
                            <h2 class="preciofinaldeta">
                              $199
                            </h2>

                                <p><i class="fas fa-credit-card mr-3 my-4 dibu"></i>Pagá en 12 cuotas sin interés</p>
                                <p><i class="fas fa-store mr-3 my-4 dibu"></i>Retiro gratis en el local</p>
                                
                                <button class="buttondeta">Agregar al carrito</button>
                                <button class="buttondeta">Comprar ahora</button>
                    </div>
                </div>
            </div>
            </div>
            
          </div>
        </section>
      </div>
     
      <%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
</body>
</html>