<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    

<div class="container"><%- include('./partials/banner.ejs')  %> <!-- BANNER -->
  <div class="row destacados">
    <div class="col-6 col-md-12 col-lg-6 col-sm-12 destacado1">
      <figure>
        <a href=""><img src="/images/ropa/sueter.jpg" alt=""></a>
      </figure>
      <article class="nombredestacado">
        <h2>SUETER</h2>
      </article>
      <article class="edicion">
        <h3>Limited Edition</h3>
      </article>
      <article class="comprar">
        <a href=""><button>COMPRAR</button></a>
      <article class="añadircarrito">
        <a href=""><button>AÑADIR AL CARRO</button></a>
      </article>
      <article class="descuentodestacado">
        <h3>Descuento</h3>
      </article>
    </div>
    <div class="col-6 col-md-6 col-lg-6 col-sm-12 destacado2">
      <figure>
        <a href=""><img src="/images/ropa/sueter.jpg" alt=""></a>
      </figure>
      <article class="nombredestacado">
        <h3>SUETER</h3>
      </article>
      <article class="edicion">
        <h3>Limited Edition</h3>
      </article>
      <article class="comprar">
        <a href=""><button>COMPRAR</button></a>
      </article>
      <article class="añadircarrito">
        <a href=""><button>AÑADIR AL CARRO</button></a>
      </article>
      <article class="descuentodestacado">
        <h3>Descuento</h3>
      </article>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre.jpg" alt=""></a><i class="precioproducto">$29.99</i><i class="descuentoproducto">Descuento</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre2.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 producto3">
      <a href=""><img src="/images/ropa/remeramujer.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3  producto4">
      <a href=""><img src="/images/ropa/remeramujer2.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 col-sm-12 col-md-6 col-lg-3  producto2">
      <a href=""><img src="/images/ropa/pantalonhombre.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre2.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto3">
      <a href=""><img src="/images/ropa/remeramujer.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto4">
      <a href=""><img src="/images/ropa/remeramujer2.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
  </div>
</div>
<div class="container oferta">
  <div class="row">
    <div class="ofertas">
      OFERTAS
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre2.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto3">
      <a href=""><img src="/images/ropa/remeramujer.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto4">
      <a href=""><img src="/images/ropa/remeramujer2.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre2.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto3">
      <a href=""><img src="/images/ropa/remeramujer.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 col-sm-12 col-md-6 col-lg-3 col-xs-12 producto4">
      <a href=""><img src="/images/ropa/remeramujer2.jpg" alt=""></a><i class="precioproducto">$29.99</i>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
  </body>
</html>
