<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/stylehome.css' />
    <link rel='stylesheet' href='/stylesheets/stylefooter.css' />
    <link rel='stylesheet' href='/stylesheets/styleheader.css' />
  </head>
  <%- include('./partials/header.ejs')  %> <!-- HEADER -->
  <body>

<div class="container">
  <div class="row destacados">
    <div class="col-6 md-4 destacado1">
      <figure>
        <a href=""><img src="/images/ropa/sueter.jpg" alt=""></a>
      </figure>
      <article class="nombredestacado">
        <h2>SUETER</h2>
      </article>
      <article class="edicion">
        <h3>Limited Edition</h3>
      </article>
      <article class="comprar">
        <a href=""><button>COMPRAR</button></a>
      </article>
      <article class="añadircarrito">
        <a href=""><button>AÑADIR AL CARRO</button></a>
      </article>
    </div>
    <div class="col-6 destacado2">
      <figure>
        <a href=""><img src="/images/ropa/sueter.jpg" alt=""></a>
      </figure>
      <article class="nombredestacado">
        <h3>SUETER</h3>
      </article>
      <article class="edicion">
        <h3>Limited Edition</h3>
      </article>
      <article class="comprar">
        <a href=""><button>COMPRAR</button></a>
      </article>
      <article class="añadircarrito">
        <a href=""><button>AÑADIR AL CARRO</button></a>
      </article>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 md-6 producto1">
      <a href=""><img src="/images/ropa/pantalonhombre.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <i class="nombreproducto">Producto</i>
    </div>
    <div class="col-3 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre2.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 producto3">
      <a href=""><img src="/images/ropa/remeramujer.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 producto4">
      <a href=""><img src="/images/ropa/remeramujer2.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 producto1">
      <a href=""><img src="/images/ropa/pantalonhombre.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <i class="nombreproducto">Producto</i>
    </div>
    <div class="col-3 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre2.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 producto3">
      <a href=""><img src="/images/ropa/remeramujer.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 producto4">
      <a href=""><img src="/images/ropa/remeramujer2.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="ofertas">
    OFERTAS
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 producto1">
      <a href=""><img src="/images/ropa/pantalonhombre.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <i class="nombreproducto">Producto</i>
    </div>
    <div class="col-3 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre2.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 producto3">
      <a href=""><img src="/images/ropa/remeramujer.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 producto4">
      <a href=""><img src="/images/ropa/remeramujer2.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 producto1">
      <a href=""><img src="/images/ropa/pantalonhombre.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <i class="nombreproducto">Producto</i>
    </div>
    <div class="col-3 producto2">
      <a href=""><img src="/images/ropa/pantalonhombre2.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 producto3">
      <a href=""><img src="/images/ropa/remeramujer.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
    <div class="col-3 producto4">
      <a href=""><img src="/images/ropa/remeramujer2.jpg" alt=""><i class="precioproducto">$29.99</i></a>
      <a href=""><i class="nombreproducto">Producto</i></a>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
  </body>
</html>
