<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->
 
    <h1>Hola</h1>
  

  <%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
</body>
</html>