<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->
 
    <div class = "row">
      <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <section class="form-login">
        <h4>Inicio de Sesion</h4>
  
        <input class="controls" type="email" name="correo" id="correo" placeholder="Email">
  
        <input class="controls" type="password" name="contrase침a" id="contrase침a" placeholder="Contrase침a">

        <input class="botons" type="submit" value="Cancelar">
        <input class="botons" type="submit" value="Iniciar sesi칩n">
        
      </section>
    </div>
  </div>

  <%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
</body>
</html>