<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    

    <div class = "row">
      <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <section class="form-register">
        <h4>Formulario de Registro</h4>
  
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre">
        
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="Apellido">
        
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su email">
        
        <input class="controls" type="password" name="contrase単a" id="contrase単a" placeholder="Ingrese su contrase単a">
        
        <p>Estoy de acuerdo con <a href="#">Teminos y condiciones <input type="checkbox"></a></p>
        
        <input class="botons" type="submit" value="Registrarse">
        <p><a href="#">多Ya tienes cuenta?</a></p>
      </section>
    
    </div>
  </div>
  <%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
  </body>
  </html>