<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')  %> <!-- HEAD -->
  <body>
    <%- include('./partials/header.ejs')  %> <!-- HEADER -->

    <div class="container">
        <section class="principal-users">
          <div class="row users">
            
            <div class="contenido-users">
              <h1>Bienvenido</h1>
            </div>
            
          </div>
        </section>
      </div>

<%- include('./partials/footer.ejs')  %> <!-- FOOTER -->
  </body>
</html>
